/*
 Theme Name:     Twenty Sixteen Child Theme
 Theme URI:      http://iqq.pro100photo.in.ua/
 Description:    Twenty Sixteen Child Theme for test task
 Author:         Vasyl Khamulyak
 Author URI:     http://iqq.pro100photo.in.ua/
 Template:       twentysixteen
 Version:        1.0.0
*/
 
/* Add Custom CSS after this line */

sup.apipost {
    font-size: 22px;
    color: red;
}